<div class="gleet">
  <%= link_to user.username, user_path(id: user.username) %>
  <div class="text-right">
    <%= render partial: 'follow_button', locals: { user: user } %>
    <%= render partial: 'block_button', locals: { user: user } %>
  </div>
</div>
