<div class="row">
  <div class="col-md-4">
    <%= render @user %>
  </div>
  <div class="col-md-8">
    <%= render partial: 'gleets/form', locals: { user: @user, gleet: Gleet.new } %>
    <%= render @gleets %>
    <%= paginate @gleets, :theme => 'twitter-bootstrap-3' %>
  </div>
</div>
