<div class="gleet">
  <h6>
    <%= link_to gleet.user.username, gleet.user %>
    <span class="gleet-time"><%= gleet.created_at %></span>
    <% if current_user && current_user == gleet.user%>
      <%= link_to "Delete", user_gleet_path(gleet.user, gleet), method: :delete %>
    <% end %>
  </h6>
  <%= simple_format(gleet.body) %>
</div>
