// Place all the styles related to the Gleets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: rgba(250,245,255,1);
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  color: rgba(130,100,240,1);
}

.jumbotron {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  background: url(asset_path('header_bg.jpg')) no-repeat center center fixed;
  background-size: cover;
  height: 400px;
  h1 {
    margin-top: 110px;
    font-size: 140px;
    color: rgba(255,255,255,.9);
  }
  h3 {
    font-size: 70px;
    margin-top: -25px;
    color: rgba(255,255,255,.8);
  }
  .nav {
    margin-top: -30px;
    font-weight: 300;
    ul {
      margin-right: -20px;
      li {
        margin:0;
        margin-left: -12px;
        #logo {
          margin-left: 10px;
          margin-top: -3px;
        }
        a {
          padding: 7px 15px;
          font-size: 20px;
          color: rgba(255,255,255,.8);
          border-right: 1px solid rgba(255,255,255,.8);
          transition: color .2s ease-out, border .2s ease-out, background-color .2s ease-out;
        }
        a:hover {
          color: rgba(255,255,255,1);
          background-color: rgba(250,245,255,.3);
          text-decoration: none;
        }
      }
      li:last-child a {
        border-right: none;
      }
    }
  }
}

.gleet {
  margin-top: 5px;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid rgba(130,100,240,.5);
  border-radius: 4px;
  a {
    font-weight: 700;
    color: rgba(130,100,240,1);
  }
}

.pagination > .active > a {
  background-color: rgba(130,100,240,.5);
  border-color: rgba(130,100,240,.5);
}

.pagination > .active > a:hover {
  background-color: rgba(130,100,240,.5);
  border-color: rgba(130,100,240,.5);
}

.pagination > li > a {
  border: 1px solid rgba(130,100,240,.5);
  color: rgba(130,100,240,1);
}

.pagination > li > a:hover {
  border: 1px solid rgba(130,100,240,.5);
  color: rgba(130,100,240,1);
  background-color: rgba(130,100,240,.2);
}

.pagination > .disabled > a {
  border-color: rgba(130,100,240,.5);
  color: rgba(130,100,240,1);
}

.pagination > .disabled > a:hover {
  border-color: rgba(130,100,240,.5);
  color: rgba(130,100,240,1);
}

.form-control {
  border-color: rgba(130,100,240,.5);
  color: rgba(130,100,240,1);
}

.form-control:focus {
  border-color: rgba(130,100,240,1);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(130,100,240,.5);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(130,100,240,.5);
}

.form-control::-webkit-input-placeholder {
  color: rgba(130,100,240,.5);
}

.btn-default {
  color: rgba(130,100,240,1);
  border-color: rgba(130,100,240,.5);
}

.btn-default:focus, .btn-default.focus {
  color: rgba(130,100,240,1);
  background-color: rgba(130,100,240,.5);
  border-color: rgba(130,100,240,.5);
}

.btn-default:hover {
  color: rgba(130,100,240,1);
  background-color: rgba(130,100,240,.2);
  border-color: rgba(130,100,240,.5);
}

.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
  color: rgba(130,100,240,1);
  background-color: rgba(130,100,240,.2);
  border-color: rgba(130,100,240,.5);
}

.btn:active, .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(130,100,240,.1);
  box-shadow: inset 0 3px 5px rgba(130,100,240,.1);
}

#btn-gleet {
  margin: -5px 0px 10px 0px;
}

#btn-follow {
  margin: 10px 0;
  width: 100%;
  color: #fff;
  background-color: rgba(130,100,240,.5);
  transition: background-color .2s ease-out;
}

#btn-follow:hover {
  background-color: rgba(130,100,240,.8);
}

@media screen and (max-width: 1050px) {
  .jumbotron {
    h1 {
      margin-top: 150px;
      font-size: 110px;
    }
    h3 {
      margin-top: -10px;
      font-size: 50px;
    }
  }
}

@media screen and (max-width: 768px) {
  .jumbotron {
    h1 {
      text-align: center;
      margin-top: 110px;
      font-size: 100px;
    }
    h3 {
      text-align: center;
      font-size: 30px;
      margin-top: -10px;
    }
    .nav {
      margin-top: -20px;
      ul {
        margin-right: -30px;
        li a {
          font-size: 18px;
        }
      }
    }
  }
}
