// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user {
  margin-top: 5px;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid rgba(130,100,240,.5);
  border-radius: 4px;
  a {
    font-weight: 700;
    color: rgba(130,100,240,1);
  }
}
